@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #1075fa;
	--btnBackground: linear-gradient(to bottom right, rgb(201, 197, 197) 3%, hsla(0, 1%, 66%, 0.304) 97%);
	--btnForeground: linear-gradient(to bottom right, hsla(0, 0%, 85%, 0.5) 0%, hsla(0, 0%, 100%, 0) 100%);
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

@font-face {
	font-family: 'logo-font';
	src: url('./assets/logo-font.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.font-poppins {
	font-family: 'Poppins';
}

.content {
	display: flex;
	flex-direction: column;
	color: black;
	font-family: serif;

	.ql-align-center {
		text-align: center;
	}

	.ql-align-right {
		text-align: right;
	}

	.ql-align-justify {
		text-align: justify;
	}

	.hljs-copy {
		float: right;
		font-size: 13px;
		cursor: pointer;
	}

	.ql-indent-1 {
		margin-left: 30px;
	}

	.ql-indent-2 {
		margin-left: 60px;
	}

	pre {
		color: rgb(255, 0, 191);
		overflow: auto;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 30px;
		background-color: rgb(252, 252, 252);
	}

	code {
		color: rgb(248, 93, 46);
		background: rgba(185, 184, 184, 0.418);
		padding: 2px 5px 0pc 5px;
		border-radius: 4px;
	}

	h1 {
		margin-bottom: 10px;
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}

	ol {
		padding: 0 10px;

		li {
			margin-top: 10px;
			list-style-type: decimal;
		}
	}

	ul {
		padding: 0 10px;
		list-style: circle;

		li {
			margin-top: 10px;
		}
	}

	img {
		object-fit: fill;
		border-radius: 20px;
		height: 500px;
		width: 100%;
		margin: 16px 0;
	}
}

.dark {
	--color: #ffdb70;
	--btnBackground: linear-gradient(to bottom right, hsla(240, 1%, 25%, 0.589) 3%, hsla(0, 0%, 19%, 0.404) 97%);
	--btnForeground: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsla(240, 3%, 13%, 0.719);

	.content {
		color: white;

		pre {
			background-color: #000000;
			color: rgb(247, 223, 201);
		}

		code {
			background: rgb(0, 0, 0);
			color: rgb(248, 121, 18);
		}
	}
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: rgb(255, 0, 0);
	transform-origin: 0%;
	z-index: 1000;
}

@media (prefers-color-scheme: dark) {
	.dark .progress-bar {
		background: rgb(0, 255, 234);
	}

	.dark .enable-btn {
		background: #11101d;
	}
}

.btn {
	position: relative;
	background: var(--btnBackground);
	border: none;
	cursor: pointer;
	color: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	z-index: 10;
	transition: 0.25s ease;
}

.btn:hover {
	background: linear-gradient(to bottom right, var(--color) 0%, hsla(0, 1%, 66%, .1) 65%);
}

.btn::before {
	content: "";
	position: absolute;
	z-index: 20;
	inset: 2px;
	background: var(--btnForeground);
	border-radius: inherit;
	z-index: -1;
	transition: 0.25s ease;
}

.up-down {
	animation: upDown 0.4s ease-in-out;
}

.up-down:hover {
	transform: translateY(-10px) scale(1.2);
	transition-duration: 0.4s;
}

@keyframes upDown {

	0%,
	100% {
		transform: translateY(0) scale(1);
	}

	25% {
		transform: translateY(-8px) scale(1.2);
	}

	50% {
		transform: translateY(0px) scale(1);
	}

	75% {
		transform: translateY(-2px);
	}
}

.scrollbar-none {
	scrollbar-width: none;
	-ms-overflow-style: none;
}