@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color: #1075fa;
	--btnBackground: rgb(229, 229, 229);
	--btnForeground: rgba(229, 229, 229, .3);
	--scrollbar_color: #a8a8a8f5;
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

@font-face {
	font-family: 'logo-font';
	src: url('./assets/logo-font.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.font-poppins {
	font-family: 'Poppins';
}

.content {
	display: flex;
	flex-direction: column;
	color: black;
	font-family: serif;

	.ql-align-center {
		text-align: center;
	}

	.ql-align-right {
		text-align: right;
	}

	.ql-align-justify {
		text-align: justify;
	}

	.hljs-copy {
		float: right;
		font-size: 13px;
		cursor: pointer;
	}

	.ql-indent-1 {
		margin-left: 30px;
	}

	.ql-indent-2 {
		margin-left: 60px;
	}

	pre {
		color: rgb(255, 0, 191);
		overflow: auto;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 30px;
		background-color: rgb(252, 252, 252);
	}

	code {
		color: rgb(248, 93, 46);
		background: rgba(185, 184, 184, 0.418);
		padding: 2px 5px 0pc 5px;
		border-radius: 4px;
	}

	h1 {
		margin-bottom: 10px;
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}

	ol {
		padding: 0 10px;

		li {
			margin-top: 10px;
			list-style-type: decimal;
		}
	}

	ul {
		padding: 0 10px;
		list-style: circle;

		li {
			margin-top: 10px;
		}
	}

	img {
		object-fit: fill;
		border-radius: 20px;
		height: 500px;
		width: 100%;
		margin: 16px 0;
	}
}

.dark {
	--color: #ffdb70;
	--btnBackground: rgb(38, 38, 38);
	--btnForeground: rgba(38, 38, 38, 0.5);
	--scrollbar_color: #dddddd93;

	.content {
		color: white;

		pre {
			background-color: #000000;
			color: rgb(247, 223, 201);
		}

		code {
			background: rgb(0, 0, 0);
			color: rgb(248, 121, 18);
		}
	}
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: rgb(255, 0, 0);
	transform-origin: 0%;
	z-index: 1000;
}

@media (prefers-color-scheme: dark) {
	.dark .progress-bar {
		background: rgb(0, 255, 234);
	}

	.dark .enable-btn {
		background: #11101d;
	}
}

.btn {
	position: relative;
	background: var(--btnBackground);
	border: none;
	cursor: pointer;
	color: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	z-index: 10;
	transition: 0.25s ease;
}

.btn:hover {
	background: linear-gradient(to bottom right, var(--color) 0%, hsla(0, 1%, 66%, .1) 65%);
}

.btn::before {
	content: "";
	position: absolute;
	z-index: 20;
	inset: 2px;
	background: var(--btnForeground);
	border-radius: inherit;
	z-index: -1;
	transition: 0.25s ease;
}

.up-down {
	animation: upDown 0.4s ease-in-out;
}

.up-down:hover {
	transform: translateY(-10px) scale(1.2);
	transition-duration: 0.4s;
}

@keyframes upDown {

	0%,
	100% {
		transform: translateY(0) scale(1);
	}

	25% {
		transform: translateY(-8px) scale(1.2);
	}

	50% {
		transform: translateY(0px) scale(1);
	}

	75% {
		transform: translateY(-2px);
	}
}

.scrollbar-none {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	transition: width 0.3s;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 4px;
	height: 30px;
	transition: all 1s ease-in-out;
}

.scrollbar-thin::-webkit-scrollbar:hover {
	width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
	width: 6px;
	background-color: #8f8d8d;
}

.dark .scrollbar-thin:hover::-webkit-scrollbar-thumb {
	background-color: #dddddd93;
}

::-webkit-scrollbar-track:hover::-webkit-scrollbar-thumb {
	background-color: #a8a8a8f5 !important;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
	background-color: #a8a8a8f5;
}

.scrollbar-thin::-webkit-scrollbar-thumb:active {
	background-color: var(--color);
}

.scrollbar-thin::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}

.dark .scrollbar-thin::-webkit-scrollbar-track {
	background: rgb(10, 10, 10);
}

/* Firefox-specific styles */
@supports (-moz-appearance: none) {
	html {
		scrollbar-color: transparent transparent;
	}

	html:hover {
		scrollbar-color: #a8a8a8f5 transparent;
	}

	html:active {
		scrollbar-color: var(--color) transparent;
	}
}

/* Editor.css */
.ql-container.ql-snow {
	border: 1px solid #f3f3f3 !important;
	border-radius: 8px;
	background-color: #f3f3f3;
	margin-top: 20px;
}

.ql-toolbar {
	border-radius: 8px;
	border: 1px solid #f3f3f3 !important;
	position: sticky;
	color: white;
	top: 64px;
	background-color: #f3f3f3;
	z-index: 10;
}

.ql-editor {
	font-family: 'Hind', sans-serif;
	border-radius: 8px;
	min-height: 300px;
	font-size: 16px;
	line-height: 1.6;
}

/* Dark mode support */
.dark .ql-toolbar {
	border-color: #111111 !important;
	background-color: #111111;
}

.dark .ql-container {
	border-color: transparent !important;
}

.dark .ql-container.ql-snow {
	@apply bg-neutral-900;
}

.dark .ql-editor {
	@apply bg-neutral-900;
}

.dark .ql-editor.ql-blank::before {
	@apply text-neutral-500 italic;
}

blockquote {
	border-left: 4px solid #ccc;
	border-radius: 4px;
	padding-left: 16px;
	margin: 16px 0;
	font-style: italic;
	color: #555;
	background-color: #f0f0f098;
	padding: 10px;
}

.dark blockquote {
	border-color: #444;
	background-color: #22222227;
	color: #ddd;
}